<html>
    <head>
        <title>nptum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="/static/js/materialize.min.js"></script>
        <link href="/static/css/materialize.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/app.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class='container not-logged-in-content {{nlc-class}}'>
            <h1>nptum</h1>
            <!-- shown only when logged out -->
            <a class='header-icon-link' target='_blank' href='//github.com/cydrobolt/nptum'>
                <i class='fa fa-3x fa-github nlc-icon'></i>
            </a>

            <a href id='login-modal-trigger' class='modal-trigger header-icon-link login-btn' data-target="login-modal">
                <i class='fa fa-3x fa-sign-in nlc-icon'></i>
            </a>
        </div>

        <div class='container logged-in-content {{lc-class}}'>
            <h3>
                nptum
                <a class='header-icon-link' target='_blank' href='//github.com/cydrobolt/nptum'>
                    <i class='fa fa-github'></i>
                </a>

                <!-- shown only when logged in -->
                <span class='right'>{{username}}</span>

            </h3>

            <div id='status'>
                <!-- load any status messages here -->
            </div>

            <div id='cards'>
                <!-- load cards here -->
            </div>
        </div>

        <!-- New note actions -->
        <div class="fixed-action-btn {{lc-class}}" style="bottom: 45px; right: 24px;">
            <a id='perform-sync' class="btn btn-floating btn-large blue">
              <i class="large material-icons">sync</i>
            </a>

            <a id='new-item-modal-trigger' class="btn btn-floating btn-large red modal-trigger" data-target="new-item-modal">
                <i class="large material-icons">mode_edit</i>
            </a>

            <!-- <ul>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            </ul> -->
        </div>

        <!-- Modal Structure -->
        <div id="new-item-modal" class="modal">
            <div class="modal-content">
                <h4>New Note</h4>
                <div class='input-field'>
                    <input id='new-note-title' type='text'>
                    <label for="new-note-title">Title</label>
                </div>

                <!-- <textarea class='new-note-input' id='modal-rows-textarea' placeholder='Today, I...'></textarea> -->

                <ul id='modal-rows-list' class="collection">
                    <!-- dynamically loaded -->
                </ul>
                <a id='add-row-in-modal' class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>

                <div class="color-picker-wrapper right">
                    <!-- color picker; dynamically loaded -->
                </div>
            </div>
            <div class="modal-footer">
                <!-- actions -->
                <a href="#!" id='save-new-note' class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>

        <div id="login-modal" class="modal">
            <div class="modal-content">
                <h4>Login</h4>
                <form method='POST' action='/login'>
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">

                    <div class="modal-footer">
                        <button class='btn' type="submit" formenctype="application/x-www-form-urlencoded">Login</button>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </form>
            </div>
        </div>

        <script>
            // not logged in => ""
            // logged in => "display-none"
            var loggedIn = "{{nlc-class}}";
        </script>

        <script src='/static/js/handlebars-v4.0.5.min.js'></script>
        <script src='/static/js/underscore.min.js'></script>
        <script src='/static/js/backbone.min.js'></script>
        {{> handlebars_cards }}
        <script src='/static/js/lib.js'></script>
        <script src='/static/js/nptum.js'></script>
    </body>
</html>
